default: &default
  adapter: mysql2
  username: root
  password: 123456
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: own_dictionary_development

test:
  <<: *default
  database: own_dictionary_test

production:
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  database: own_dictionary_production
