// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.examples, .synonyms, .antonyms {
  font-style: italic;
  color: #585757;
}

.search-form {
  margin: 30px 0 20px 0;

  .search-word {
    width: 100%;
    margin-left: 0;

    .search-button {
      margin-left: 10px;
      max-width: 100px;
    }
  }
}
